# 12강 수치 연산 
## 1. 사칙 연산 
연산자|연산|예
-|-|-
+|덧셈(가산)|1+2→3
-|뺄셈(감산)|1-2→-1
* |곱셈(승산)|1*2→2
/|나눗셈(제산)|1/2→0.5
%|나머지|1%2→1

- 애스터리스크(*), '모든 열'을 의미하는 메타 문자, 곱셈을 의미

## 2. SELECT 구로 연산하기 
- SELECT 구에서는 열명 뿐만 아니라 **식**도 기술할 수 있다. 
- 식을 기술할 수 있다는 것은 명령이 실행될 때 연산을 할 수 있다는 것을 의미 
```
EX) 
SELECT *, price*quantity FROM sample34;
``` 

no | price | quantity | price * quantity
-|-|-|-
1|100|10|1000
2|230|24|5520
3|1980|1|1980

## 3. 열의 별명 
- price*quantity 가 이름이 길고 보기 어려운 경우에는 AS를 활용하여 별명을 붙일 수 있다. 
```
ex)
SELECT*,price*quantity AS amount FROM sample34;
```

no | price | quantity | amount
-|-|-|-
1|100|10|1000
2|230|24|5520
3|1980|1|1980

- 이름의 ASCII문자 이외의 것을 포함할 경우는 더블쿼트로 둘러싸서 지정
- 객체명과 문자열 상수 
    + 데이터베이스 객체명 : "sample21", "sample34"
    + 문자열 상수 : 'ABC', '박준용'

## 4. WHERE 구에서 연산하기 
- WHERE 구에서 금액을 계산하고 2000원 이상인 행 검색하기 
```
SELECT *, price*quantity AS amount FROM sample34
    WHERE price * quantity >= 2000;
``` 

### WHERE 구와 SELECT 구의 내부처리 순서 
- WHERE 구의 행 선택, SELECT 구에서의 열 선택은 데이터베이스 서버 내부에서 WHERE 구 -> SELECT 구의 순서로 처리

## 5. NULL 값의 연산
- SQL 에서는 NULL 값을 연산하면 결과는 NULL이 된다.

## 6. ORDER BY 구에서 연산하기 
- ORDER BY 구에서도 연살할 수 있고 그 결괏값들을 정렬할 수 있다. 
```
SELECT *, price*quantity AS amount FROM sample34 ORDER BY price*quantity DESC;
```

no | price | quantity | amount
-|-|-|-
2|230|24|5520
3|1980|1|1980
1|100|10|1000

- ORDER BY 는 서버에서 내부적으로 가장 나중에 처리
- 즉, SELECT 구보다 나중에 처리되기 때문에 SELECT 구에서 지정한 별명을 ORDER BY 에서도 사용할 수 있다.

## 7. 함수 
- 연산자 외에 함수를 사용해 연산할 수도 있다. 
```
10% 3 -> 1 
MOD(10, 3) -> 1
```

## 8. ROUND 함수

**ROUND로 반올림하기**