# 14강 날짜 연산 
## 1. SQL에서의 날짜 
- 날짜와 시간 데이터는 수치 데이터와 같이 사칙 연산을 할 수 있다. 

### 시스템 날짜
- 표준 SQL 에서는 'CURRENT_TIMESTAMP'라는 함수로 현재 시간을 표시 
- 인수를 지정할 필요 X 
```
SELECT CURRENT_TIMESTAMP;
```
|CURRENT_TIMESTAMP|
|-|
|2014-01-25 10:10:30|

### 날짜 서식 
- 날짜 데이터를 데이터베이스에 저장할 경우 CURREN_TIMESTAMP를 사용해 시스템 상의 날짜를 저장할 수 있다. 
- 임의의 날짜를 저장하고 싶을 경우에는 직접 날짜 데이터를 지정
    - 2014/02/25
    - 2014-01-25
    - 25 Jan 2014
- Oracle의 경우 TO_DATE함수를 사용해 문자열 데이터를 날짜형 데이터로 변환 
```
TO_DATE('2014/01/25', 'YYYY/MM/DD')
```
- 반대로 날짜형 데이터를 서식에 맞춰 변환해 문자열 데이터로 출력하는 함수는 **TO_CHAR**

## 2. 날짜형 간의 뺄셈 
- 날짜 시간형 데이터 간의 뺄셈을 할 수 있다. 
- MySQL에서는 DATEDIFF('2014-02-28', '2014-01-01')로 계산